body {
  background: url("fotky/background.png") center/cover no-repeat fixed;
  font-family: "Playfair Display", serif;
  padding-top: 80px;
}

/* .mainContent {
  text-align: center;
} */

.logo {
  font-family: "Great Vibes", cursive;
  font-size: 28px;
}

.hero {
  text-align: center;
  padding: 120px 20px 80px 20px;
}

.hero h1 {
  font-family: "Great Vibes", cursive;
  font-size: 72px;
  margin-bottom: 10px;
}

.subtitle {
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.hero-box {
  background: rgba(255, 255, 255, 0.9);
  max-width: 700px;
  margin: auto;
  padding: 35px;
  border-radius: 10px;
  box-shadow: 0 4px 30px 10px rgba(0, 0, 0, .8);
}

.mainbox {
  background: rgba(255, 255, 255, 0.92);
  padding: 60px;
  margin-top: 40px;
  margin-bottom: 80px;
  border-radius: 12px;
  max-width: 900px;
  box-shadow: 0 4px 30px 10px rgba(0, 0, 0, .8);
}

section {
  margin-bottom: 70px;
}

#cas,
#misto,
#doprava,
#ubytovani,
#program,
#jidlo,
#dresscode,
#prstenove-pravidlo,
#dary,
#fota-videa,
#formular h2 {
  text-align: center;
  scroll-margin-top: 80px;
}

#formular {
  scroll-margin-top: 80px;
}

h2 {
  margin-bottom: 25px;
  font-weight: 600;
}

.highlight {
  font-size: 20px;
  font-weight: 600;
}

.list li {
  margin-bottom: 6px;
}

.note {
  margin-top: 10px;
  font-style: italic;
}

.account {
  font-size: 22px;
  font-weight: 600;
}

.mapa {
  max-width: 50% !important;

}

.formbox {
  background: #f7f7f7;
  padding: 30px;
  border-radius: 10px;
}

.nav-link {
  font-size: 14px;
}

.oznameni {
  padding-top: 30px !important;
}

.svatba-button {
  background-color: #16428d;
  color: white;
}

.svatba-button:hover {
  background-color: #167d8d;
  color: white;
}

.qr {
  max-width: 20% !important;
}

.no-alcohol {
  background-color: #16428d;
}

.ig {
  color: #16428d;
}

.ig:hover {
  color: #167d8d;
}

.form-label {
  font-weight: bold;
}